@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

main {
    padding: 30px;
    user-select: none;
}

header > span {
    font-size: .85rem;
    font-weight: 700;
    color: #6B778C;
    letter-spacing: .02rem;
}

header > h1 {
    color: #182B4D;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 5px;
}

.columns {
    display: flex;
    gap: 15px;
    margin-top: 50px;
}

.column {
    width: 100%;
    background-color: #F4F5F7;
    height: 100dvh;
    border-radius: 8px;
}

.column__title {
    color: #4D5C76;
    font-size: .9rem;
    font-weight: 700;
    margin: 20px;
}

.column__cards {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 4px;
    height: 100%;
}

.card {
    width: 100%;
    min-height: 70px;
    background-color: #FFF;
    border-radius: 5px;
    border: 1px solid #DFE1E6;
    box-shadow: 0 2px 2px #DFE1E6;
    padding: 12px 14px;
    font-size: .9rem;
    font-weight: 500;
    color: #4D5C76;
}

.column__highlight {
    background-color: #DEEBFF;
    border: 2px solid #2482FF;
}